html, body, #container { height: 100%; width: 100%; margin: 0; padding: 0; }

#container {  }
#map-canvas { height: 100%; }
#sidebar { height: 100%; padding: 15px; border-left: 1px solid #ccc; }
/* #topbar { background-color: green; position: absolute; z-index: 100; } */
#alert-container { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 100; padding: 15px; }

a[data-toggle='collapse'] { text-decoration: none; }

.alert-enter {
  opacity: 0.01;
  transition: opacity .1s ease-in;
}

.alert-enter.alert-enter-active {
  opacity: 1;
}

.alert-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
}

table.offense-codes tbody {
  display: block;
  height: 200px;
  overflow-y: scroll;
}
